.hero {
  display: flex;
  align-items: center;
  padding: var(--padding-6) 2rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.greeting {
  margin-bottom: 0.75rem;

  color: var(--primary);

  font-size: 1.2rem;
  font-weight: 600;
}

.name {
  margin-bottom: 1rem;

  font-size: 4rem;
  font-weight: 800;
  line-height: 1.1;

  color: var(--text);
}

.role {
  margin-bottom: 1.5rem;

  color: var(--text-secondary);

  font-size: 2rem;
  font-weight: 600;
}

.description {
  max-width: 640px;
  color: var(--text-secondary);
  line-height: 1.8;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.image {
  flex: 1;
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  align-items: center;
  overflow: hidden;
  object-fit: contain;
  filter: brightness(90%);
}

/* =========================
   LAPTOP
   ========================= */

@media screen and (max-width: 1024px) {
  .image {
    flex: 0.8;
    max-width: 300px;
    max-height: 300px;
  }
}

/* =========================
   TABLET
   ========================= */

@media screen and (max-width: 768px) {
  .hero {
    padding: var(--padding-6) var(--padding-1);
  }
  .container {
    gap: 2rem;
  }
}

/* =========================
   MOBILE
   ========================= */

@media screen and (max-width: 600px) {
  .container {
    gap: 1.5rem;
    flex-direction: column;
  }
  .greeting {
    font-size: 0.9rem;
  }

  .name {
    font-size: 2.5rem;
  }

  .role {
    font-size: 1.5rem;
  }
  .description {
    font-size: 0.9rem;
  }
  .image {
    flex: 0.8;
    max-width: 300px;
    max-height: 300px;
  }
}
