.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: var(--z-navbar);

  background: rgba(0, 0, 0, 0.35);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(0, 0, 0, 0.16);

  border-bottom: 1px solid var(--border);
}

.nav {
  max-width: var(--max-width);
  height: var(--header-height);

  margin: 0 auto;
  padding: 0 2rem;
  gap: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--primary);

  font-family: var(--font-primary);
  font-size: 1.5rem;
  font-weight: 700;

  transition: color var(--transition-normal);

  filter:
    drop-shadow(0 0 5px #000)
    drop-shadow(0 0 25px var(--primary-hover));
}

.logo:hover {
  color: var(--primary-hover);
}

.menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link {
  position: relative;

  color: var(--text-secondary);

  font-weight: 500;

  transition: color var(--transition-normal);
}

.link:hover {
  color: var(--text);
}

.link::after {
  content: "";

  position: absolute;

  left: 0;
  bottom: -6px;

  width: 0;
  height: 2px;

  background: var(--primary);

  transition: width var(--transition-normal);
}

.link:hover::after {
  width: 100%;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.actions>* {
  cursor: pointer;
}
/* =========================
   LAPTOP
   ========================= */

@media screen and (max-width: 1024px) {
  .menu {
    gap: 24px;
  }
}


/* =========================
   TABLET
   ========================= */

@media screen and (max-width: 768px) {
  .nav {
    gap: 20px;
  }
  .logo {
    font-size: 1.25rem;
  }
  .menu {
    gap: 20px;
  }
  .actions {
    gap: 12px;
  }
}

/* =========================
   MOBILE
   ========================= */

@media screen and (max-width: 600px) {
  .nav {
    height: var(--header-height-m);
    gap: 12px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 16px;
  }
  .logo {
    width: 100%;
    padding-top: 0.5rem;
    font-size: 1.1rem;
    text-align: center;
  }
  .menu {
    width: 100%;
    gap: 12px;
    font-size: 0.8rem;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px 0;
  }
  .actions {
    gap: 12px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 0;
  }
}

