.header {
  position: sticky;
  top: 0;
  z-index: var(--z-navbar);

  background: rgba(0, 0, 0, 0.35);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(0, 0, 0, 0.16);

  border-bottom: 1px solid var(--border);
}

.nav {
  max-width: var(--max-width);
  height: var(--header-height);

  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--primary);

  font-family: var(--font-primary);
  font-size: 1.5rem;
  font-weight: 700;

  transition: color var(--transition-normal);

  filter:
    drop-shadow(0 0 5px #000)
    drop-shadow(0 0 25px var(--primary-hover));
}

.logo:hover {
  color: var(--primary-hover);
}

.menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link {
  position: relative;

  color: var(--text-secondary);

  font-weight: 500;

  transition: color var(--transition-normal);
}

.link:hover {
  color: var(--text);
}

.link::after {
  content: "";

  position: absolute;

  left: 0;
  bottom: -6px;

  width: 0;
  height: 2px;

  background: var(--primary);

  transition: width var(--transition-normal);
}

.link:hover::after {
  width: 100%;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.actions>* {
  cursor: pointer;
}
